{% set valid_cards = cards|filter(card => card.text_content or card.header or card.image) %}
{% set length = valid_cards|length %}
{% if length > 0 %}
	<div class="row">
		{% for card in valid_cards %}
			<div class="col-4 mb-5">
				<div class="position-relative d-flex flex-column align-items-center">
					<div class="card card--project overflow-hidden">
						{% include 'components/image.html.twig' with {
							image: card.image|default(null),
							format: 'x375',
							classes: 'card--project-image',
						} %}
					</div>
					<div class="card card-body card--project-text col-10 position-relative">
						{% include 'content-blocks/text-button.html.twig'  
							with {
							'content': card,
							'headerCssClasses': 'mb-3',
							'header_size': 'h6',
						}  %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
