/*

Bootstrap overrides & variables
================================================== 
Overrides for Bootstrap variableas we well as site-specific variables used throughout the project.

*/

$enable-responsive-font-sizes: true;

// Color system
$white: #fff;
$gray-100: #fafafa;
$gray-200: #f9f9f9;
$gray-300: #d8d8d8;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$light: #f8f9fa;
$dark: #343a40;

$primary: #1d1923; //Text
$secondary: #f9ebfe; //Light purple background
$tertiary: #e28c90; //Pink accent
$quaternary: #dfe7ff; //Light blue background
$quinary: #394be7; //Royal blue
$senary: #eff3ff; //Light blue background variant

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "quaternary": $quaternary,
  "quinary": $quinary,
);

// Typography
$headings-color: $primary;
$headings-font-family:
  "BW Gradual",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  sans-serif;
$font-family-base: "Manrope", sans-serif;
$font-size-base: px-to-rem(16);
// Font sizes
$h1-font-size: $font-size-base * 3.7222; // 67px
$h2-font-size: $font-size-base * 3; // 54px
$h3-font-size: $font-size-base * 2.3889; // 43px
$h4-font-size: $font-size-base * 1.8889; // 34px
$h5-font-size: $font-size-base * 1.5556; // 28px
$h6-font-size: $font-size-base * 1.2222; // 22px

// Spacers
$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2.5rem,
  6: 3rem,
);

// Container widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
);

// Gutters
$container-gutter-x: 20px;

// Body
$body-bg: $gray-200;
$body-color: $primary;

// Borders
$border-radius-sm: 10px;
$border-radius: 20px;

// Buttons
$btn-padding-y: px-to-rem(19);
$btn-padding-x: px-to-rem(20);
$btn-border-radius: $border-radius-sm;
$btn-lg-border-radius: $border-radius;
$btn-border-width: 1px;
$btn-color: $primary;
$btn-line-height: 1;

//Cards
$card-border-radius: px-to-rem(10);
$card-spacer-x: px-to-rem(33);
$card-spacer-y: $card-spacer-x;

//Links
$link-decoration: none;
$link-color: $tertiary;
