/*

 Utilities
 ================================================== 
 Custom Utility classes 

 */

.manrope {
  font-family: "Manrope", sans-serif;
}
.fira-code {
  font-family: "Fira Code", monospace;
}
.text-gray-200 {
  color: $gray-200;
}
