.hero-section {
    min-height: 100vh;
    .text-component {
        margin: px-to-rem(20) 0;
        @include media-breakpoint-up(lg) {
            > * {
                line-height: 2;
            }
        }
    }
    .image-component {
        justify-content: flex-end;
    }
}
.areas_of_expertise-section {
}
