.hero-section {
  min-height: 100vh;
  .text-component {
    margin: px-to-rem(20) 0;
    > * {
      line-height: 2;
    }
  }
  .image-component {
    justify-content: flex-end;
    img {
      @include media-breakpoint-up(xxl) {
        width: 75%;
      }
    }
  }
}
