 /*

Base
================================================== 
Contains common syles for the entire page

*/

@font-face {
  font-family: 'New Spirit';
  src: url('../../fonts/new-spirit.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}
