/*

Base
================================================== 
Contains common syles for the entire page

*/

@font-face {
    font-family: "BW Gradual";
    src: url("../../fonts/BwGradual.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    margin-bottom: $spacer;
}
