/*

Buttons
================================================== 
Contains the styles for all the buttns on the site.

*/
.btn {
    @each $color-name, $color-value in $theme-colors {
        &.btn-outline-#{$color-name} {
            color: $btn-color;
        }
    }
    // Arrow buttons
    &:has(.icon) {
        display: inline-flex;
        gap: px-to-rem(10);
        align-items: center;
    }

    // Link buttons
    &.btn-link {
        padding: 0;
        border: none;
        margin: px-to-rem(5);
    }
    &-round {
        border-radius: 50%;
        padding: px-to-rem(10);
    }
}
