<section class="areas-of-expertise bg-{{content.areas_of_expertise.background_color}}">
	{% include 'components/header.html.twig'  
    with {
    'headerSize': content.areas_of_expertise.header_size, 
    'content': content.areas_of_expertise.header, 
    'headerColor': content.areas_of_expertise.header_color
    }  %}
</section>
