<div class="row">
	<div class="col-lg-6">
		{% include 'content-blocks/text-button.html.twig' with {
            content: content,
			classes: 'd-flex flex-column',
            headerCssClasses: 'mb-4',
        } %}
	</div>
	<div class="col-lg-6">
		{% set contactForm = sulu_form_get_by_id(1, 'page', 1) %}
		{% if contactForm is defined and contactForm is not null %}
			{% form_theme contactForm 'forms/contact-theme.html.twig' %}
			{{ form(contactForm) }}{% endif %}
		</div>
	</div>
