<div class="row">
	<div class="col-lg-6">
		{% include 'content-blocks/text-button.html.twig' with {
            content: content,
			classes: 'd-flex flex-column',
            headerCssClasses: 'mb-4',
        } %}
	</div>
</div>
