<section class="hero bg-{{content.hero.background_color}}">
	{% include 'components/header.html.twig'  
    with {
    'headerSize': content.hero.header_size, 
    'content': content.hero.header, 
    'headerColor': content.hero.header_color
    }  %}
</section>
