<section class="hero bg-{{content.hero.background_color}}">
	<div class="container container-{{content.hero.settings.spacing_options}}">
		<div class="row">
			<div class="col-lg-6">
				{% include 'content-blocks/text-button.html.twig'  
                    with {
                    'content': content.hero,
                }  %}
			</div>
			<div class="col-lg-6 d-flex align-items-center">
				<div class="col-10 h-75 bg-secondary"></div>
			</div>
		</div>
	</div>
</section>
