{% if content_block is defined and content_block is not empty %}
	{% set headerSize = content_block.heading_size |default('h1') %}
	{% set content = content_block.header|default(null) %}
	{% set classes = "text-" ~ (headerColor|default('primary')) %}

{% else %}
	{% set headerSize = headerSize|default('h1') %}
	{% set content = content|default(null) %}
	{% set classes = "text-" ~ (headerColor|default('primary')) %}
{% endif %}

{# if h0, it's really just an h1 with display-1 #}
{% if headerSize == 'h0' %}
	{% set headerSize = "h1" %}
	{% set classes = classes ~ ' display-1' %}
{% endif %}

{# Render #}
{% if content|default(null) %}
	<span class="d-inline-flex header-component">
		<{{headerSize}} class="{{ classes|default('') }}">
			{{ content }}
		</{{headerSize}}>
	</span>
{% endif %}
