{% if content_block is defined %}
	{% set image = content_block.image|default(null) %}
{% endif %}
{% set image = image|default(null) %}
{% if image %}
	<span class="d-inline-flex image-component">
		{% include 'utilities/image.html.twig' with {
		src: image.url,
		alt: image.title
		} %}
	</span>
{% endif %}
