{#
    Usage:
    {% include 'components/image.html.twig' with {
        image: image_object,
        format: 'thumbnail',
        classes: 'my-custom-class',
        class: 'additional-img-class'
    } %}
#}

{% set image = image|default(null) %}
{% set format = format|default('none') %}
{% set classes = classes|default('') %}
{% set class = class|default('') %}

{% if image %}
	{% set url = image.url %}

	{# Check if format exists in the image formats and use formatted URL #}
	{% if format != 'none' and image.formats[format] is defined %}
		{% set url = image.formats[format] %}
	{% endif %}

	<span class="d-inline-flex image-component {{ classes }}">
		<img class="lazyload img-fluid{% if class is not empty %} {{ class }}{% endif %}" src="{{ url }}" {% if image.title is not empty %} alt="{{ image.title }}" {% endif %} data-sizes="auto">
	</span>
{% endif %}
