{% if content is defined and content is not empty %}

	{% set type = content.type|default('') %}

	<div class="{{type}}-text-button">
		{% include 'components/header.html.twig' with { content_block: content } %}
		{% include 'components/text.html.twig' with { content_block: content } %}
		{% include 'components/button.html.twig' with { content_block: content } %}
	</div>
{% endif %}
