{% if content_block|default(null) %}

{% set headingSize = content_block.heading_size |default('h1') %}
{% set button = content_block.buttons | default(null) %}
{% if headingSize == 'h0' %}
{% set headingSize = "h1 class= display-1" %}
{% endif %}

<div class="row">
    <div class="col">
        <{{headingSize}}>{{ content_block.header }}</{{headingSize}}>
        <p>{{content_block.content |raw }}</p>

     {% if button %}
         {% include 'components/buttons.html.twig' with {buttons: content_block.buttons} %}
     {% endif %}
    </div>
</div>
{% endif %}