{% if content.content_blocks|default(null) %}
	{% for content_block in content.content_blocks %}
		{% set spacing = content_block.settings.spacing_options|default(null) %}
		{% set container_small = content_block.settings.container_small|default(null) %}

		<section class="content-block-{{ content_block.type }} spacer-top{{ spacing ? '--' ~ spacing : " " }} ">
			<div class="container {% if container_small %}container-small{% endif %}">
				{% include 'content-blocks/flexible/' ~ content_block.type ~ '.html.twig' with { content_block: content_block } %}
			</div>
		</section>
	{% endfor %}
{% endif %}
