<header class="header-main d-flex align-items-center">
	<div class="container header-main-container d-flex align-items-center justify-content-between">
		{% block header %}
			{# Logo #}
			{% include 'components/logo.html.twig'  with {clickable : true}  %}
			{# Main nav #}
			{% include 'layout/navigation/main-nav.html.twig' %}
		{% endblock %}
	</div>
</header>
